.fields {
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 40%;
    margin: 2em 1em;
    gap: .5em;
    background-color: #d3ffdc;
    
    @media (max-width: 768px){
      width: 70%;
    }
  
    .text--error {
      grid-column: span 2;
    }
  }
  
  .loginForm {
    margin-inline: auto;
    padding: 2em;
    text-align: center;
  
    .fields {
      margin-inline: auto;
      justify-content: center;
    }
  }
  h3 {
      font-family: "Space Grotesk";
  }