.title{
    margin: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #cfffd9;
    &_container{
        padding: 1px;
        margin: 1rem;
        text-align: center;
        background-color: black;
        
    }
    
}
.form_container{
    margin: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color:#cfffd9
}
.btn {
    border: none;
    display: block;
    width: 145px;
  
    margin-inline: auto;
    margin-block: 8px;
    padding: 5px 18px;
    background-color:black;
    color:#bdffca;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    border-radius: 20cm;
    
  
    cursor: pointer;
}