.button{
    display: block;
    width: 145px;
  
    margin-inline: auto;
    margin-block: 8px;
    padding: 5px 18px;
    background-color:black;
    color:#bdffca;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    border-radius: 20cm;
    
  
    cursor: pointer;
}